.dataListe {
    font-size:11px;
    margin:3px 10px 3px 3px;
    cursor: pointer;
    font-weight: 500;
}
.dataLabel {
    font-size:11px;
    margin: 3px 0 3px 5px;
    cursor: pointer;
    font-weight: 500;
}