.logo-img img {
    width: 150px !important;
}

.sidebar, .sidebar-wrapper {
    width: 300px !important;
    padding: 10px;
}

.dataClass {
    margin: 3px 10px 3px 10px;
    cursor: pointer;
    font-weight: 500;
}
.dataListe {
    font-size:10px;
    margin:3px 10px 3px 3px;
    cursor: pointer;
    font-weight: 500;
}
.dataLabel {
    font-size:10px;
    margin: 3px 0 3px 5px;
    cursor: pointer;
    font-weight: 500;
}

.dataStoreURL input {
    margin: 5px;
    color: black;
    border: 1px solid grey;
    border-radius: 3px;
}
